---
import Layout from "../../layouts/Layout.astro";
import ImagePB from "../../components/ImagePB.astro";
import { InviteById } from "../../../backend/backend.mjs";
import { formatDate } from "../../js/utils.js";
const { id } = Astro.params;
const Invite = await InviteById(id);
console.log(Invite);
---

<Layout>
    <section>
        <div class="flex gap-4 items-center">
            <ImagePB
                record={Invite}
                field="image_invite"
                alt={Invite.imgAlt}
                classPicture="border-3 border-sky-900 grayscale col-start-1 row-start-1 col-span-2 row-span-2 group-hover:before:bg-black"
                classImg="group-hover:grayscale-0 group-hover:mix-blend-normal w-50 object-cover"
            />
            <div
                class="box bg-sky-950 rounded-3xl text-white p-4 w-auto h-auto"
            >
                <h2 class="text-orange-400">
                    {Invite.prenom_invite}
                    {Invite.nom_invite}
                </h2>
                <p class="text-sm font-light">{Invite.nationalite_invite}</p>
                <p class="text-sm font-light">
                    {Invite.annee_naissance_invite} ({Invite.age_invite}ans)
                </p>
                <p class="text-sm font-light">{Invite.profession_invite}</p>
            </div>
        </div>
    </section>
    <div class="border-1 border-sky-900 w-full"></div>
    <section>
        <h3>Biographie</h3>
        <div set:html={Invite.biographie_invite} />
    </section>
    <div class="border-1 border-sky-900 w-full"></div>
    <section>
        <h3>Film associé</h3>
        <!-- <p>{Invite.expand?.film_invite.titre_film}</p> -->
    </section>
    <div class="border-1 border-sky-900 w-full"></div>
    <section>
        <div>
            <h3>{Invite.expand?.activite_invite.titre_activite}</h3>
            <p class="italic block border-t-1 border-b-1">
                {formatDate(Invite.expand?.activite_invite.dateheure_activite)} /
                {Invite.expand?.activite_invite.lieu_activite}
            </p>
            <div class="pt-4"
                set:html={Invite.expand?.activite_invite.description_activite}
            />
        </div>
    </section>
</Layout>
