---
import Layout from "../layouts/Layout.astro";
import heroabout from "../assets/images/heroabout.avif";
import alexandre_morel from "../assets/images/alexandre_morel.avif";
import sophie_durand from "../assets/images/sophie_durand.avif";
import claire_bernard from "../assets/images/claire_bernard.avif";
import jules_lefevre from "../assets/images/jules_lefevre.avif";
import thomas_gauthier from "../assets/images/thomas_gauthier.avif";
import camille_perrin from "../assets/images/camille_perrin.avif";
import elise_martineau from "../assets/images/elise_martineau.avif";
import lucas_fontaine from "../assets/images/lucas_fontaine.avif";
---

<Layout>
    <div class="flex justify-center">
        <h1 class="absolute pt-26">À propos</h1>
        <img src={heroabout.src} alt="" />
    </div>

    <section>
        <div>
            <h2>Présentation du festival</h2>
            <p>
                Le Flash cinéma 25 est un festival audiovisuel de court métrage
                se déroulant chaque année en août dans le Doubs. Il met en avant
                des talents émergents du cinéma, proposant une programmation
                variée de courts métrages en plein air pour accentuer sa
                convivialité.
            </p>
        </div>
        <div>
            <h3>Création du Festival</h3>
            <p>
                Flash Cinéma 25 a été créé en 2020 par un groupe de passionnés
                d'audiovisuel et de cinéma dans le Doubs. Inspirés par le besoin
                de donner une tribune aux jeunes talents et d’offrir au public
                une expérience cinématographique immersive, les fondateurs ont
                choisi de mettre en avant les courts métrages dans une
                atmosphère conviviale. L'idée est née d'un projet universitaire
                qui a pris de l'ampleur grâce au soutien d'acteurs locaux et
                d'une communauté cinéphile active.
            </p>
        </div>
        <div>
            <h3>Objectifs du Festival</h3>
            <p>
                Le festival Flash Cinéma 25 vise à promouvoir les talents
                émergents en offrant une visibilité aux jeunes réalisateurs,
                tout en favorisant les échanges entre professionnels et
                spectateurs à travers ateliers, débats et projections. Ancré
                dans le Doubs, il soutient la culture locale et sensibilise aux
                enjeux contemporains tels que l’écologie, la diversité et
                l’innovation sociale.
            </p>
        </div>
    </section>
    <section>
        <div>
            <h2>Notre équipe</h2>
            <p>
                Voici les membres de nos équipes techniques qui permettent le
                bon fonctionnement de notre festival
            </p>
        </div>
        <div>
            <div class="flex align-center gap-10 py-4">
                <li class="flex flex-col">
                    <img
                        src={alexandre_morel.src}
                        alt=""
                    />
                    <div>
                        <p>Alexandre Morel</p>
                        <p class="font-light text-tiny">Directeur Artistique</p>
                    </div>
                </li>
                <li class="flex flex-col">
                    <img src={sophie_durand.src} alt="" />
                    <div>
                        <p>Sophie Durand</p>
                        <p class="font-light text-tiny">
                            Responsable communication
                        </p>
                    </div>
                </li>
            </div>

            <div class="flex align-center gap-10 pb-4">
                <li class="flex flex-col">
                    <img src={claire_bernard.src} alt="" />
                    <div>
                        <p>Claire Bernard</p>
                        <p class="font-light text-tiny">
                            Responsable partenariats et financement
                        </p>
                    </div>
                </li>
                <li class="flex flex-col">
                    <img src={jules_lefevre.src} alt="" />
                    <div>
                        <p>Jules Lefèvre</p>
                        <p class="font-light text-tiny">
                            Coordinateur logistique
                        </p>
                    </div>
                </li>
            </div>

            <div class="flex align-center gap-10 pb-4">
                <li class="flex flex-col">
                    <img
                        src={thomas_gauthier.src}
                        alt=""
                    />
                    <div>
                        <p>Thomas Gauthier</p>
                        <p class="font-light text-tiny">
                            Responsable technique
                        </p>
                    </div>
                </li>
                <li class="flex flex-col">
                    <img src={camille_perrin.src} alt="" />
                    <div>
                        <p>Camille Perrin</p>
                        <p class="font-light text-tiny">
                            Responsable billetterie
                        </p>
                    </div>
                </li>
            </div>
            <div class="flex align-center gap-10 pb-4">
                <li class="flex flex-col">
                    <img
                        src={elise_martineau.src}
                        alt=""
                    />
                    <div>
                        <p>Élise Martineau</p>
                        <p class="font-light text-tiny">
                            Responsable développement durable
                        </p>
                    </div>
                </li>
                <li class="flex flex-col">
                    <img src={lucas_fontaine.src} alt="" />
                    <div>
                        <p>Lucas Fontaine</p>
                        <p class="font-light text-tiny">
                            Chargé de programmation
                        </p>
                    </div>
                </li>
            </div>
        </div>
    </section>

    <section>
        <h2>Charte de notre Festival</h2>
        <div>
            <h3>Nos valeurs</h3>
            <ul class="flex flex-col gap-2">
                <li>
                    - Accessibilité & Convivialité : Un lieu d’échange
                    chaleureux entre cinéphiles et talents émergents.
                </li>
                <li>
                    - Soutien aux Jeunes Réalisateurs : Une plateforme pour
                    mettre en lumière les nouveaux visages du cinéma.
                </li>
                <li>
                    - Diversité & Innovation : Un espace d’expression pour des
                    visions variées et originales du court-métrage.
                </li>
                <li>
                    - Engagement Écoresponsable : Sensibilisation et actions
                    concrètes pour un festival durable.
                </li>
            </ul>
        </div>
        <div>
            <h3>Thématique 2025 : "Regards sur Demain"</h3><p>
                Cette édition interroge le futur à travers des courts-métrages
                explorant dystopies, utopies et mutations du monde.
            </p>
        </div>
        <div>
            <h3>Nos Engagements</h3>
            <ul class="flex flex-col gap-2">
                <li>- Offrir un tremplin aux jeunes talents</li>
                <li>- Encourager les rencontres et débats.</li>
                <li>- Proposer une programmation qualitative et accessible</li>
                <li>- Réduire l’impact écologique du festival.</li>
                <li>- Valoriser la culture audiovisuelle locale.</li>
            </ul>
        </div>
    </section>
</Layout>
