---
import ImagePB from "./ImagePB.astro";
const { ...Invite } = Astro.props;
---

<article>
    <a href={`/invites/${Invite.id}`}>
        <ImagePB
            record={Invite}
            field="image_invite"
            alt={Invite.imgAlt}
            classPicture="grayscale col-start-1 row-start-1 col-span-2 row-span-2 group-hover:before:bg-black"
            classImg="group-hover:grayscale-0 group-hover:mix-blend-normal w-[390px] object-cover"
        />
    </a>
    <div>
        <p>{Invite.prenom_invite} {Invite.nom_invite}</p>
        <p class="pb-12 pt-0">{Invite.profession_invite}</p>
    </div>
</article>
